/* Carrossel.css */

.carrossel-container {
  position: absolute;
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.carrossel-container img {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.controls {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prev-button, .next-button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.prev-button:hover, .next-button:hover {
  background-color: #3e8e41;
}

.prev-button {
  margin-right: 20px;
}