/* ProductList.css */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  /* Espaçamento entre os cards */
}

.card {
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.card .title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.card .price {
  font-size: 16px;
  color: #007bff;
}

.loading {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}

.error {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: red;
}